[submodule "cinderx"]
	path = cinderx
	url = https://github.com/facebookincubator/cinderx.git
[submodule "static-python-perf"]
	path = static-python-perf
	url = https://github.com/utahplt/static-python-perf.git
